@import url('https://fonts.googleapis.com/css?family=Rubik:300,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'main main main'
    'footer footer footer';
  grid-template-rows: 300px 50px 8fr 200px;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

body > main {
  width: 1024 px; /* Adjust this value to your needs */
  margin: 0 auto; /* Center the main area */
}

body > main,
header,
footer {
  padding: 30px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  grid-area: footer;
  background: linear-gradient(to right, #2c3e50, #4c669f);
  padding: 20px;
  text-align: center;
}

footer a {
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ecf0f1;
  text-decoration: underline;
}

nav {
  grid-area: nav;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

nav ul li {
  transition: all 0.2s ease-in-out;
  list-style-type: none;
  cursor: pointer;
}

nav ul li:hover {
  transform: scale(1.5);
  color: grey;
}

main {
  grid-area: main;
}

main section {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

article {
  padding: 10px;
  max-width: 500px;
}

.avatar {
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 10px;
}

figure {
  padding-bottom: 20px;
}

figure img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  main section {
    flex-direction: column;
  }
}
